body
{
    font-size: 14px;
    line-height: 1.5625;

    word-wrap: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

    color: #373a3c;
    background-color: #fff; 

        -ms-hyphens: auto;
}

/*
 * Universal colours for links, unless overriden
 *
 */
a:link,
a:visited
{
    position: relative;
}

a:focus,
a:hover,
a:active
{
    text-decoration: underline;

    outline: none !important;
}

@media print
{
    a[href]:after
    {
        content: ' (' attr(href) ') ';
    }
}

p
{
    font-size: inherit;
    line-height: inherit;
}
p:last-child
{
    margin-bottom: 0 !important;
}

/*
 * Headings
 *
 */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 500;
    line-height: 1;

    margin: 2rem 0 1rem; 

    text-rendering: optimizeLegibility;
}

h1
{
    font-size: 2rem;

    padding-bottom: 10px;

    border-bottom: 1px dotted #f1f1f1;
}

h2
{
    font-size: 1.75rem;
}

h3
{
    font-size: 1.5rem;
}

h4
{
    font-size: 1rem;

    text-transform: uppercase;
}

h5
{
    font-size: 1rem;
}

h6
{
    font-size: 1rem;
}

ol li,
ul li
{
    padding-bottom: .5rem;
}
ol li:last-child,
ul li:last-child
{
    padding-bottom: 0;
}

/*
 * Accessories
 *
 */
hr
{
    margin-bottom: 3rem !important;
}

pre
{
    font-size: 1rem;
    line-height: 1.42857;

    display: block;

    margin: 0 0 10px;
    padding: 1rem;

    word-wrap: break-word; 
    word-break: break-all;

    color: #373a3c;
    border: 1px solid #ccc;
    background-color: #f7f7f9;
}

blockquote,
blockquote.blockquote
{
    font-size: 1rem;
    font-style: italic;

    padding: 1em 2em; 

    border-left: 5px solid #eee;
}

blockquote > blockquote
{
    margin-left: 0;
}

blockquote p
{
    margin-bottom: 35px;
}

/*
 * Hyphens
 * http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
 * Accepted values: [ none | manual | auto ]
 *
 */
input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var
{
    -webkit-hyphens: none;
       -moz-hyphens: none;
            hyphens: none; 

        -ms-hyphens: none;
}

table.table tr th
{
    font-family: 'Martel Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;

    -webkit-font-feature-settings: 'kern' 1;
    text-rendering: optimizeLegibility;
}

/*
 * Callout elements
 *
 */
.bd-callout
{
    margin: 1.5rem 0;
    padding: 1.5rem; 

    border-width: 1px 1px 1px .25rem;
    border-style: solid;
    border-color: #eee;
    border-radius: .25rem;
}

.bd-callout-success
{
    border-left-color: #449d44;
}

.bd-callout-info
{
    border-left-color: #5bc0de;
}

.bd-callout-warning
{
    border-left-color: #f0ad4e;
}

.bd-callout-danger
{
    border-left-color: #c9302c;
}

/**
 * Body within the Editor
 */
body
{
    max-width: 912px;
    margin: 20px;

    vertical-align: baseline;

    background: #fff;
}

/**
 * Alignment
 */
.alignleft
{
    float: left;

    margin: 7px 28px 28px 0;
}

.alignright
{
    float: right;

    margin: 7px 0 28px 28px;
}

.aligncenter
{
    display: block;
    clear: both;

    margin: 7px auto;
}

/**
 * Caption
 */
.wp-caption
{
    font-family: 'Noto Sans', sans-serif;

    max-width: 100%;
    margin: 0 0 28px;
    padding: 0;

    text-align: inherit; 

    color: #707070;
    border: 0;
    background: transparent;
}

.wp-caption.alignleft
{
    margin: 7px 28px 21px 0;
}

.wp-caption.alignright
{
    margin: 7px 0 21px 28px;
}

.wp-caption.aligncenter
{
    margin: 7px auto;
}

.wp-caption .wp-caption-text,
.wp-caption-dd
{
    font-size: 14px;
    line-height: 1.5;

    padding: 7px 0;
}

/**
 * Galleries
 */
.gallery-item
{
    display: inline-block;

    width: 100%; 
    padding: 1.79104477%;

    text-align: center;
    vertical-align: top;
}

.gallery-columns-2 .gallery-item
{
    max-width: 50%;
}

.gallery-columns-3 .gallery-item
{
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item
{
    max-width: 25%;
}

.gallery-columns-5 .gallery-item
{
    max-width: 20%;
}

.gallery-columns-6 .gallery-item
{
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item
{
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item
{
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item
{
    max-width: 11.11%;
}

.gallery .gallery-caption
{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;

    display: block;

    padding: 7px 0; 

    color: #707070;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption
{
    display: none;
}

/**
 * Audio / Video
 */
.mce-content-body .wpview-wrap
{
    margin-bottom: 32px;
}

.mce-content-body .wp-audio-playlist
{
    margin: 0;
}

/**
 * RTL
 */
body.rtl
{
    font-family: Arial, Tahoma, sans-serif;
}

.rtl blockquote
{
    margin: 0 -21px 35px;
    padding-right: 17px; 
    padding-left: 0;

    border-right: 4px solid #707070;
    border-left: 0;
}

.rtl blockquote > blockquote
{
    margin-right: 0; 
    margin-left: auto;
}

.rtl li > ul,
.rtl li > ol
{
    margin: 0 23px 0 0;
}

.rtl table th,
.rtl table caption
{
    text-align: right;
}
