@charset 'UTF-8';
/*!
Theme Name: Ultimos
Theme URI: http://schoolmars.com
Author: Saddam Azad 
Author URI: http://schoolmars.com
Version: 0.0.1
Description: 
Licensed Commercial 
Copyright 2015-2015 Saddam Azad
*/
body
{
    font-size: 14px;
    line-height: 1.5625;

    word-wrap: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;

    color: #373a3c;
    background-color: #fff; 

        -ms-hyphens: auto;
}

/*
 * Universal colours for links, unless overriden
 *
 */
a:link,
a:visited
{
    position: relative;
}

a:focus,
a:hover,
a:active
{
    text-decoration: underline;

    outline: none !important;
}

@media print
{
    a[href]:after
    {
        content: ' (' attr(href) ') ';
    }
}

p
{
    font-size: inherit;
    line-height: inherit;
}
p:last-child
{
    margin-bottom: 0 !important;
}

/*
 * Headings
 *
 */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 500;
    line-height: 1;

    margin: 2rem 0 1rem; 

    text-rendering: optimizeLegibility;
}

h1
{
    font-size: 2rem;

    padding-bottom: 10px;

    border-bottom: 1px dotted #f1f1f1;
}

h2
{
    font-size: 1.75rem;
}

h3
{
    font-size: 1.5rem;
}

h4
{
    font-size: 1rem;

    text-transform: uppercase;
}

h5
{
    font-size: 1rem;
}

h6
{
    font-size: 1rem;
}

ol li,
ul li
{
    padding-bottom: .5rem;
}
ol li:last-child,
ul li:last-child
{
    padding-bottom: 0;
}

/*
 * Accessories
 *
 */
hr
{
    margin-bottom: 3rem !important;
}

pre
{
    font-size: 1rem;
    line-height: 1.42857;

    display: block;

    margin: 0 0 10px;
    padding: 1rem;

    word-wrap: break-word; 
    word-break: break-all;

    color: #373a3c;
    border: 1px solid #ccc;
    background-color: #f7f7f9;
}

blockquote,
blockquote.blockquote
{
    font-size: 1rem;
    font-style: italic;

    padding: 1em 2em; 

    border-left: 5px solid #eee;
}

blockquote > blockquote
{
    margin-left: 0;
}

blockquote p
{
    margin-bottom: 35px;
}

/*
 * Hyphens
 * http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation
 * Accepted values: [ none | manual | auto ]
 *
 */
input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var
{
    -webkit-hyphens: none;
       -moz-hyphens: none;
            hyphens: none; 

        -ms-hyphens: none;
}

table.table tr th
{
    font-family: 'Martel Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;

    -webkit-font-feature-settings: 'kern' 1;
    text-rendering: optimizeLegibility;
}

/*
 * Default
 * 
 */
.body-container
{
    max-width: 82rem; 
    margin-right: auto;
    margin-left: auto;
    padding-right: .9375rem;
    padding-left: .9375rem;
}
.body-container:before,
.body-container:after
{
    display: table; 

    content: ' ';
}
.body-container:after
{
    clear: both;
}
@media (max-width: 33.99em)
{
    .body-container
    {
        padding: 0;
    }
}

.comentan
{
    clear: both; 
    overflow: hidden;
}

.comentan p
{
    color: #4c5767;
}

.comentan ul
{
    margin-bottom: 60px;
    padding-left: 0;
}

.comentan ul li:first-child
{
    margin-left: 0;
}

.comentan ul li
{
    display: inline-block;

    margin-left: 3%;

    list-style-type: none;

    vertical-align: middle;
}

.piePrincipal
{
    width: 100%;
    min-height: 650px;
    margin-top: 60px; 
    padding-bottom: 100px;

    background-color: #f7f7f7;
    background-image: url('assets/images/fondos/fondoPieAzul.png');
    background-repeat: no-repeat;
    background-position: center top;
}
@media (max-width: 47.99em)
{
    .piePrincipal
    {
        min-height: 50px;
        padding-bottom: 20px; 

        background-image: none;
    }
}

.piePrincipal .mensajePie
{
    position: relative; 

    display: block;

    margin-bottom: 60px;
    padding-top: 50px;
    padding-left: 425px;

    color: #fff;
}
@media (max-width: 61.99em)
{
    .piePrincipal .mensajePie
    {
        padding-left: 38%;
    }
}
@media (max-width: 47.99em)
{
    .piePrincipal .mensajePie
    {
        padding-left: 0; 

        color: #337ab7;
    }
}

.piePrincipal .mensajePie p
{
    font-size: 1.6em;
    line-height: 1.2em;

    position: relative;

    width: 70%; 
    margin-bottom: 20px;
}
@media (max-width: 47.99em)
{
    .piePrincipal .mensajePie p
    {
        width: 90%;
    }
}

.piePrincipal .mensajePie .comillas
{
    font-size: 2em;

    position: absolute;
    top: 0; 
    left: -60px;

    display: block;

    color: #fff;
}
@media (max-width: 47.99em)
{
    .piePrincipal .mensajePie .comillas
    {
        font-size: 2em;

        position: relative; 
        left: 0;

        display: block;

        color: #337ab7;
    }
}

.piePrincipal .mensajePie a::before
{
    font-size: 2em;

    position: absolute;
    top: -3px; 
    left: 14%;

    display: none;

    content: '‣';
}

.piePrincipal .mensajePie a
{
    font-size: 1.2em;
    line-height: 50px;

    position: relative;

    display: block;

    width: 65%; 

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}
@media (max-width: 47.99em)
{
    .piePrincipal .mensajePie a
    {
        width: 100%; 

        border: 2px solid #337ab7;
        background-color: #337ab7;
    }
}

.piePrincipal .mensajePie a:hover
{
    text-decoration: none; 

    color: #22b1cf;
    background-color: #fff;
}

.logoPie
{
    margin-bottom: 25px;
}

.logoPie img
{
    display: block; 

    margin: auto;
}

.piePrincipal .textoPie
{
    font-weight: bold;

    margin-bottom: 25px;

    text-align: center; 

    color: #4c5868;
}
@media (max-width: 47.99em)
{
    .piePrincipal .textoPie
    {
        display: none;
    }
}

.piePrincipal .menuCiudades
{
    margin-bottom: 30px;
    padding: 0 20px;
}
.piePrincipal .menuCiudades ul
{
    padding: 0 !important;
}
@media (max-width: 47.99em)
{
    .piePrincipal .menuCiudades
    {
        display: none;
    }
}

.piePrincipal .menuCiudades ul:first-child
{
    margin-left: 0;
}

.piePrincipal .menuCiudades ul
{
    display: inline-block;

    width: 15%; 
    margin-right: -4px;
    margin-left: 2%;

    vertical-align: top;
}

.piePrincipal .menuCiudades ul li
{
    margin-bottom: 4px; 

    list-style-type: none;
}

.piePrincipal .menuCiudades ul li a
{
    font-size: .9em;
    font-weight: 400;

    margin-left: 10px;

    color: #858585;
}

.piePrincipal .enlaces
{
    margin-bottom: 10px;
    padding: 0 20px 5px; 

    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.piePrincipal .enlaces ul
{
    margin-bottom: 0; 

    text-align: center;
}

.piePrincipal .enlaces ul li:first-child
{
    margin-left: 0;
}

.piePrincipal .enlaces ul li
{
    display: inline-block;

    width: auto; 
    margin-right: -4px;
    margin-left: 3%;

    vertical-align: top;
}

.piePrincipal .enlaces ul li a
{
    font-weight: bold; 

    color: #868585;
}

.copyright
{
    font-size: .85em;

    margin-left: 20px; 

    color: #a6a6a6;
}

.redesSociales
{
    float: right;

    margin-right: 20px;
}

.redesSociales a
{
    display: inline-block;

    margin-right: -4px; 
    margin-left: 20px;
}
